<h1>ShortSlack</h1>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>

<br>
<EMBED SRC="/assets/smash.mp3"
    width="360" height="75" HIDDEN=false AUTOSTART=true loop="true" volume="60">
